{
'ion.services.coi.exchange.broker_controller':{
        'privileged_broker_connection':
                {
                        'host': 'localhost',
                        'port': 5672,
                        'username': 'inst',
                        'password': 'inst',
                        'vhost': '/',
                        'heartbeat':30
                },
        'amqp_spec' : 'res/amqp/specs/standard/amqp0-8.xml',
},
'ion.test.iontest':{
    'broker_host': 'localhost',
    'broker_port': 5672,
    'broker_vhost': '/',
    'broker_heartbeat': 0,
    'start_app': None,
},
}

